p {
	display: inline-block;
	background-color: fuchsia;
	width: 200px;
	height: 30px;
	margin: 5px;
	padding-top: 5px;
	padding-bottom: 30px;
}

p.parrafo{
	background-color: yellow;
	width: 200px;
	height: 30px;
}